extends layout

block content
  div(ng-controller='RegistrationCtrl').container
    div.well
      if !user
        h1 Create a new account
        form(role='form' name='form' method='post' action='/register')
          if duplicateUser
            div(role='alert').alert.alert-danger Your username already exists, please pick another one.
          if invalidPasswordConfirm
            div(role='alert').alert.alert-danger Passwords do not match.
          if invalidUsername
            div(role='alert').alert.alert-danger Username is invalid.
          if invalidPassword
            div(role='alert').alert.alert-danger Password is invalid.

          div(ng-class='{ "has-error": form.username.$invalid && form.username.$dirty }').form-group
            label.control-label Username
            input(type='text' name='username' placeholder='Username' ng-model='username' ng-pattern='usernamePattern' ng-required='true'
                data-hint='Username is trimmed of whitespace automatically. Must be 3-18 characters [alphanumeric, _, -, .]').form-control

          div(ng-class='{ "has-error": form.password.$invalid && form.password.$dirty}').form-group
            label.control-label Password
            input(type='password' name='password' placeholder='Password' ng-model='password'
                ng-pattern='passwordPattern' ng-change='validatePassword()' ng-required='true'
                data-hint='Password must be 6-128 characters.').form-control

          div(ng-class='{ "has-error": form.passwordConfirm.$invalid && form.passwordConfirm.$dirty }').form-group
            label.control-label Confirm Password
            input(type='password' name='passwordConfirm' placeholder='Confirm Password' ng-required='true'
                ng-model='passwordConfirm' ng-change='validatePassword()').form-control

          div.form-group
            button(type='submit' ng-disabled='form.$invalid').btn.btn-primary Register
      else
        h1 Welcome, #{user.username_original_case}!
        p Thank you for creating an account with us. We hope that you enjoy using our service.
        a(href='/signin/authorize').btn.btn-primary Enter

block scripts
  script(src='/js/controllers/registrationctrl.js')
